:root{
    /* Color*/
    --white: rgba(245,245,245,1);
    --green: rgba(0,255,127,1);
    --purple: rgba(180,100,255);
    --red: rgba(238,59,59,1);
    --grey: rgba(156,156,156,1);
    --black01: rgba(0,0,0,0.1);
    --black02: rgba(0,0,0,0.2);
    --black03: rgba(0,0,0,0.3);
    --transparent: transparent:
}


.theme-light, .theme-dark { /* Black Color Scheme */
    
    /* Title Color*/
    --header-primary: var(--white);
    
    /* 2nd Title Color*/
    --header-secondary: var(--white);
    
    /* 1st Chat Color*/
    --text-normal: var(--white);
    
    /* 2nd Chat Color*/
    --text-muted: var(--white);
    
    /* Color for Links */
    --text-link: var(--purple);
    
    /* Default Font Color */
    --channels-default: var(--white);
    
    /* Icon Color */
    --interactive-normal: var(--white);
    
    /* Icon Color OnMouse*/
    --interactive-hover: var(--white);
    
    /* Color, where i am and unread*/
    --interactive-active: var(--green);
    
    /*Color of muted Channels */
    --interactive-muted: var(--red);
    
    /* 1st BG Color (BG for Video/Screen, Chat-background, Setting-background)*/
    --background-primary: var(--black01);
    
    /* 2nd BG Color (Server Info, Activity, Bubbles, Settings-Row-Background, )*/
    --background-secondary: var(--black02);
    
    /* User Info Color */
    --background-secondary-alt: var(--black03);
    
    /* Discord UI */
    --background-tertiary: var(--black01);
    
    /* Color of small things */
    --background-accent: var(--grey);
    
    /* Server Info Color */
    --background-floating: var(--grey);
    
    /* */
    --background-mobile-primary: var(--transparent);
    
    /* */
    --background-mobile-secondary: var(--transparent);
    
    /* Overlay Coior */ 
    --background-modifier-hover: var(--black03);
    
    /* Overlay Color OnClick*/
    --background-modifier-active: var(--black03);
    
    /* Overlay Color of selected Channel */
    --background-modifier-selected: var(--black03);
    
    /* Trennzeichen a Color */
    --background-modifier-accent: var(--black01);  
    
    /* BG Color of Text MSG*/
    --background-message-hover: var(--black03);
    
    /* Color of Activated Modules, smth to click*/
    --bd-blue: var(--green);
    
    /* */
    --bd-blue-hover: var(--transparent) !important;
    
    /* */
    --bd-blue-active: var(--transparent) !important;
    
    /* */
    --blurple:var(--green);
}





