.theme-light, .theme-dark { /* Black Color Scheme */
    
    /* Title Color*/
    --header-primary: white;
    
    /* 2nd Title Color*/
    --header-secondary: white;
    
    /* 1st Chat Color*/
    --text-normal: white;
    
    /* 2nd Chat Color*/
    --text-muted: white;
    
    /* Color for Links */
    --text-link: rgba(180,100,255);
    
    /* Default Font Color */
    --channels-default: white;
    
    /* Icon Color */
    --interactive-normal: white;
    
    /* Icon Color OnMouse*/
    --interactive-hover: white;
    
    /* Color, where i am and unread*/
    --interactive-active: rgba(0,255,0,0.99);
    
    /*Color of muted Channels */
    --interactive-muted: rgba(250,0,0,1);
    
    /* 1st BG Color (BG for Video/Screen, Chat-background, Setting-background)*/
    --background-primary: rgba(0,0,0,0.1);
    
    /* 2nd BG Color (Server Info, Activity, Bubbles, Settings-Row-Background, )*/
    --background-secondary: rgba(0,0,0,0.2);
    
    /* User Info Color */
    --background-secondary-alt: rgba(0,0,0,0.3);
    
    /* Discord UI */
    --background-tertiary: rgba(50,50,50,0.1);
    
    /* Color of small things */
    --background-accent: rgba(250,250,250,0.5);
    
    /* Server Info Color */
    --background-floating: rgba(100,100,100,1);
    
    /* */
    --background-mobile-primary: rgba(255,0,0,1);
    
    /* */
    --background-mobile-secondary: rgba(255,255,0,1);
    
    /* Overlay Coior */ 
    --background-modifier-hover: rgba(0,0,0,0.3);
    
    /* Overlay Color OnClick*/
    --background-modifier-active: rgba(0,0,0,1);
    
    /* Overlay Color of selected Channel */
    --background-modifier-selected: rgba(0,0,0,0.5);
    
    /* Trennzeichen a Color */
    --background-modifier-accent: rgba(0,0,0,1);  
    
    /* BG Color of Text MSG*/
    --background-message-hover: rgba(0,0,0,.51);
    
    /* Color of Activated Modules, smth to click*/
    --bd-blue: rgba(0,255,0,1);
    
    /* */
    --bd-blue-hover: transparent !important;
    
    /* */
    --bd-blue-active: transparent !important;
    
    /* */
    --blurple: rgba(255,255,0,1);
}
