.userPopout-3XzG_A {
	--user-popout-position: center;
}


/* me */
[user_by_bdfdb*="214338578111660034"],
[data-user-id*="214338578111660034"] {
    	/* --user-background: url("https://66.media.tumblr.com/5227d45d649ff54da612b75f19dd8106/tumblr_nnwtgm6QOm1uuopeao1_500.gif"); */
	--user-background: url('https://i.imgur.com/pqdICWJ.gif');
}

/* Saskia  */

[user_by_bdfdb*="232503920063283200"],
[data-user-id*="232503920063283200"] {
    	 --user-background: url("https://media.giphy.com/media/FGbEffWs9la1O/giphy.gif"); 
	/* --user-background: url('https://i.imgur.com/pqdICWJ.gif'); */
}

/* Sam */ 

[user_by_bdfdb*="631802023720779786"],
[data-user-id*="631802023720779786"] {
    	 --user-background: url("https://media1.tenor.com/images/38ac528295b255d0a92ae883b86e8750/tenor.gif?itemid=9186238"); 

/* Keksi */ 

[user_by_bdfdb*="298463801840369666"],
[data-user-id*="298463801840369666"] {
    	 --user-background: url("http://gifsgonewild.com/she-wont-stop-until-shes-finished/"); 
	

/* Rafael */ 

[user_by_bdfdb*="221919888971661313"],
[data-user-id*="221919888971661313"] {
    	 --user-background: url("https://media.discordapp.net/attachments/459487191090069514/562176065078951991/9f3f59c.gif"); 


