:root {
        --title: "Milky Cleanless";
        --background: ;
        
}


.theme-light, .theme-dark { /* Black Color Scheme */
    
    /* Title Color*/
    --header-primary: white;
    
    /* 2nd Title Color*/
    --header-secondary: white;
    
    /* 1st Chat Color*/
    --text-normal: white;
    
    /* 2nd Chat Color*/
    --text-muted: white;
    
    /* Color for Links */
    --text-link: rgba(180,100,255);
    
    /* Default Font Color */
    --channels-default: white;
    
    /* Icon Color */
    --interactive-normal: white;
    
    /* Icon Color OnMouse*/
    --interactive-hover: white;
    
    /* Color, where i am and unread*/
    --interactive-active: rgba(0,255,0,0.99);
    
    /*Color of muted Channels */
    --interactive-muted: rgba(250,0,0,1);
    
    /* 1st BG Color (BG for Video/Screen, Chat-background, Setting-background)*/
    --background-primary: rgba(0,0,0,0.1);
    
    /* 2nd BG Color (Server Info, Activity, Bubbles, Settings-Row-Background, )*/
    --background-secondary: rgba(0,0,0,0.2);
    
    /* User Info Color */
    --background-secondary-alt: rgba(0,0,0,0.3);
    
    /* Discord UI */
    --background-tertiary: rgba(50,50,50,0.1);
    
    /* Color of small things */
    --background-accent: rgba(250,250,250,0.5);
    
    /* Server Info Color */
    --background-floating: rgba(100,100,100,1);
    
    /* */
    --background-mobile-primary: rgba(255,0,0,1);
    
    /* */
    --background-mobile-secondary: rgba(255,255,0,1);
    
    /* Overlay Coior */ 
    --background-modifier-hover: rgba(0,0,0,0.3);
    
    /* Overlay Color OnClick*/
    --background-modifier-active: rgba(0,0,0,1);
    
    /* Overlay Color of selected Channel */
    --background-modifier-selected: rgba(0,0,0,0.5);
    
    /* Trennzeichen a Color */
    --background-modifier-accent: rgba(0,0,0,1);  
    
    /* BG Color of Text MSG*/
    --background-message-hover: rgba(0,0,0,.51);
    
    /* Color of Activated Modules, smth to click*/
    --bd-blue: rgba(0,255,0,1);
    
    /* */
    --bd-blue-hover: transparent !important;
    
    /* */
    --bd-blue-active: transparent !important;
    
    /* */
    --blurple: rgba(255,255,0,1);
}





/* ################################### */



.theme-light, .theme-dark { /* Black Color Scheme */
    
    /* Title Color*/
    --header-primary: white;
    
    /* 2nd Title Color*/
    --header-secondary: white;
    
    /* 1st Chat Color*/
    --text-normal: white;
    
    /* 2nd Chat Color*/
    --text-muted: white;
    
    /* Color for Links */
    --text-link: rgba(180,100,255);
    
    /* Default Font Color */
    --channels-default: white;
    
    /* Icon Color */
    --interactive-normal: white;
    
    /* Icon Color OnMouse*/
    --interactive-hover: white;
    
    /* Color, where i am and unread*/
    --interactive-active: rgba(0,255,0,0.99);
    
    /*Color of muted Channels */
    --interactive-muted: rgba(250,0,0,1);
    
    /* 1st BG Color (BG for Video/Screen, Chat-background, Setting-background)*/
    --background-primary: rgba(0,0,0,0.1);
    
    /* 2nd BG Color (Server Info, Activity, Bubbles, Settings-Row-Background, )*/
    --background-secondary: rgba(0,0,0,0.2);
    
    /* User Info Color */
    --background-secondary-alt: rgba(0,0,0,0.3);
    
    /* Discord UI */
    --background-tertiary: rgba(50,50,50,0.1);
    
    /* Color of small things */
    --background-accent: rgba(250,250,250,0.5);
    
    /* Server Info Color */
    --background-floating: rgba(100,100,100,1);
    
    /* */
    --background-mobile-primary: rgba(255,0,0,1);
    
    /* */
    --background-mobile-secondary: rgba(255,255,0,1);
    
    /* Overlay Coior */ 
    --background-modifier-hover: rgba(0,0,0,0.3);
    
    /* Overlay Color OnClick*/
    --background-modifier-active: rgba(0,0,0,1);
    
    /* Overlay Color of selected Channel */
    --background-modifier-selected: rgba(0,0,0,0.5);
    
    /* Trennzeichen a Color */
    --background-modifier-accent: rgba(0,0,0,1);  
    
    /* BG Color of Text MSG*/
    --background-message-hover: rgba(0,0,0,.51);
    
    /* Color of Activated Modules, smth to click*/
    --bd-blue: rgba(0,255,0,1);
    
    /* */
    --bd-blue-hover: transparent !important;
    
    /* */
    --bd-blue-active: transparent !important;
    
    /* */
    --blurple: rgba(255,255,0,1);
}
.container-1r6BKw>.children-19S4PO>.iconWrapper-2OrFZ1>svg, .base-1x0h_U {
        color: white;
}

.layers-3iHuyZ {
        position: static;
}

.panels-j1Uci_ .container-3baos1 .button-14-BFJ svg, .panels-j1Uci_ .container-3baos1 .button-14-BFJ path, .buttons-3JBrkn>button:not(.emojiButton-3uL3Aw) svg.icon-3D60ES:not(.icon-GhnIRB), .connectedAccounts-repVzS svg.connectedAccountOpenIcon-2cNbq5, .header-QKLPzZ .additionalActionsIcon-1FoUlE path, .tooltipPointer-3ZfirK, .buttons-3JBrkn>.buttonContainer-28fw2U>button:not(.emojiButton-3uL3Aw), .chat-3bRxxu>.title-3qD0b->.children-19S4PO>.iconWrapper-2OrFZ1>svg, .closeButton-1tv5uR svg, .title-3qD0b->.children-19S4PO>.iconWrapper-2OrFZ1.focusable-1YV_-H>.icon-22AiRD, .BE-badges:after, .wrapper-1Rf91z .scrollerWrap-2lJEkd>div>div:nth-child(1)>div.listItemWrapper-3X98Pc>div>svg>foreignObject>a>div, .welcomeMessage-ULm0mo .emptyMessage-3-SPAD, .welcomeMessage-ULm0mo .itemContainer-1tq6cd, div[style*="flex: 0 1 323px"], .guildDetail-1nRKNE .channel-2hXUOG svg, .guildIcon-GuAC7C, .listItem-2P_4kh.bd-guild-separator, .closedFolderIconWrapper-15K9MK div, .chatContent-a9vAAp .attachButton-2WznTc>div>svg, .tutorialContainer-1v44GL>.listItem-2P_4kh>.listItemWrapper-3X98Pc svg a>div, .wrapper-1ucjTd[aria-label*="(text channel)"] .content-3at_AU svg:not(.actionIcon-2Hi9ZG), .wrapper-1ucjTd[aria-label*="(voice channel)"] .content-3at_AU svg, .inner-MADQqc .attachWrapper-2TRKBi svg, .expandedFolderIconWrapper-1xLaU- svg, svg.flowerStar-1GeTsn, .addButtonIcon-3u-3Hu polygon, .emojiButton-3uL3Aw>div>.sprite-2iCowe, .sidebar-2K8pFh>div.panels-j1Uci_>div>div>button:nth-child(3)>.contents-18-Yxp>svg, .pro-1T8RK7, .tip-2ab612, .total-3tKGEB:after, .footer-1kmXd4, .sidebar-2K8pFh .scrollerWrap-2lJEkd .scroller-2FKFPG a[href="/store"], .modeUnread-1zpFdA .unread-3zKkbm, .guildSeparator-3s64Iy, .colorMuted-HdFt4q.size14-e6ZScH.connectCTA-37DS2Y, .or-3THJsp, #bd-settings-sidebar .ui-tab-bar-separator, .userSettingsSecurityImage-21pI_Q, .option-96V44q:after, .option-96V44q.selected-rZcOL-:after, .socialLinks-3jqNFy, .activity-2Gy-9S .icon-15YQ1T, .menu-Sp6bN1>.separator-2zcjq8, .helper-2c73HK, .statusIconText-3b4TkH>div, .sidebar-2K8pFh .scrollerWrap-2lJEkd .scroller-2FKFPG a[href="/channels/@me"] .content-3QAtGj, .sidebar-2K8pFh .scrollerWrap-2lJEkd .scroller-2FKFPG a[href="/library"] .content-3QAtGj, .svg-1X37T1>mask, .children-19S4PO:after, .wordmark-2iDDfm, .form-2fGMdU:before, a[href="https://support.discord.com"], .protip-YaFfgO, .base-gE7OpD .ellipsis-19qdx6, .unreadPillCap-3_K2q2 {
        display: none!important;
}

::-moz-selection {
        color: white;
        background-color: transparent !important;
}

::selection {
        background-color: transparent !important;
}

::-webkit-input-placeholder, ::placeholder, body, button, input, select, textarea {
        color: white!important;
}